SERVICE_NAME=ai-service
PORT=3000

DATABASE_URL=postgresql://delivery:delivery@localhost:5432/delivery_db?schema=ai

JWT_ACCESS_SECRET=super-secret-access-key
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=gpt-4.1-mini
AI_PROVIDER=openai

DRIVER_SERVICE_URL=http://localhost:3003

NODE_ENV=development