SERVICE_NAME=admin-service
PORT=3000

DATABASE_URL=postgresql://delivery:delivery@localhost:5432/delivery_db?schema=auth

JWT_ACCESS_SECRET=super-secret-access-key

AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3008
ORDER_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3011
DRIVER_SERVICE_URL=http://localhost:3003
TRACKING_SERVICE_URL=http://localhost:3004
DISPATCH_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
AI_SERVICE_URL=http://localhost:3007
CHATBOT_SERVICE_URL=http://localhost:3010

NODE_ENV=development