SERVICE_NAME=auth-service
PORT=3000

DATABASE_URL=postgresql://delivery:delivery@localhost:5432/delivery_db?schema=auth

REDIS_URL=redis://redis:6379

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

JWT_ACCESS_SECRET=super-secret-access-key
JWT_REFRESH_SECRET=super-secret-refresh-key

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
RESET_PASSWORD_SECRET=super-secret-reset-password-key
RESET_PASSWORD_EXPIRES_IN=10m

NODE_ENV=development